.myButton {
	box-shadow: 0px 0px 11px 5px #9ecdf0;
	background: linear-gradient(to bottom, #abfeff 5%, #00bbff 100%);
	background-color: #abfeff;
	border-radius: 10px;
	border: 1px solid #a1d6ff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 28px;
	padding: 16px 37px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #000000;
}

.myButton:hover {
	background: linear-gradient(to bottom, #00bbff 5%, #abfeff 100%);
	background-color: #00bbff;
}

.myButton:active {
	position: relative;
	top: 1px;
}